*{
    padding: 0;
    margin: 0;  
}
p{
    font-family:'MingLiU', 'PMingLiU','Regular';
}
@font-face {
font-family: 'Wu';
src: url('../font/onryou/onryou.TTF') format("truetype");} 
body{
    background-image: url(../img/background_image.jpg);
}
/* header 設定 */

article{
    width: 100%;
}
header{
    /* position: fixed; */
    /* top: 0; */
    width: 100%;
    margin: auto auto 10px auto;
    background-color: transparent;
    z-index: 99;
}
header .subscription{
    width: 1200px;
    margin: 10px auto;
      background-color: transparent;
}
header .subscription a{
    float: right;
    color: #33ccff;
    text-decoration: none;
    padding: 10px;
}
.banner_block{
    /* background-color: rgba(11, 11, 11, .6); */
}
.banner{
    margin: auto;
    width: 1200px;
    clear: both;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(11, 11, 11, .6);
    border-radius: 10px;
}
.banner .logo {
    width: 150px;
    margin-left: 20px;
}
.banner .logo img{
    width: 100%;
    vertical-align: top;
}

.banner .nav_bar a{
    color: #33ccff;
    
    text-decoration: none;
    padding: 10px;

}
.banner .nav_bar a:hover{
    color: red;
    font-family: 'Wu';
    cursor: pointer;
    /* font-size: 25px; */
    transition: .7s;
}
.nav_bar{
    position: relative;
}
#discuss_bar_block{   
    padding: 10px 10px; 
    position: absolute;
    width: 100px;
    height: 80px;
    background-color: rgba(11, 11, 11, .7);
    z-index: 999;
    top:66px;
    left: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    display: none;
}
#discuss_bar_block::after{    
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgba(11, 11, 11, .7);
    position: absolute;
    top: -10px;
    left: 50px;
}

/* footer設定 */

footer{
    width: 100%; 
    background-color: rgba(22, 22, 22, .6)
}
.statement{
    background-color: rgba(44, 44, 44, .6);
}
.statement p{
    color: rgba(255, 255, 255, .8);
    text-align: center;
    padding: 10px;
}

/* right_funcion */


#right_function{
    width: 50px;
    height: 200px;
    background-color: rgba(55, 55, 55, .6);
    position: fixed;
    right: 10px;
    bottom: 150px;
}
#right_function ul{
    list-style: none;
}
#right_function li a{
    color: #ccc;
    border-bottom: 1px solid rgba(88, 88, 88, .6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    
}
#right_function li a:hover{
    background-color: #0079B7;
    color: #ccc;
    cursor: pointer;
}
#right_function li:nth-of-type(4) a{
    border-bottom: none;
}